# from https://askubuntu.com/questions/916918/creating-a-git-repo-at-root-for-tracking-settings

# Blacklist all files, folders and subfolders in the same directory as the .gitignore file.
/*
# Do not blacklist the .gitignore file.
!.gitignore


# Whitelist the /usr/ folder (the git repo folder is whitelisted always)
!/etc/
# Blacklist all files in /etc/ folder.
/etc/*
# Whitelist specific file(s) in /etc/ folder.
!/etc/supervisor
/etc/supervisor/*
!/etc/supervisor/conf.d
!/etc/profile.d
/etc/profile.d/*
!/etc/profile.d/rebootScriptsAtLogin.sh


!/home/
#/home/*
#!/home/.*
!/home/njoppi2/
/home/njoppi2/*
!/home/njoppi2/.bashrc

!/home/njoppi2/projetos/
/home/njoppi2/projetos/*
!/home/njoppi2/projetos/pessoal/
/home/njoppi2/projetos/pessoal/*
!/home/njoppi2/projetos/pessoal/backup/


!/usr/
/usr/*
!/usr/local/
/usr/local/*
!/usr/local/sbin/
/usr/local/sbin/uploadToNotion/*.txt
/usr/local/sbin/makeComputerUnusable/*.txt

!/usr/local/bin/
/usr/local/bin/*
!/usr/local/bin/myScripts/
/usr/local/bin/myScripts/webhooks/*.txt


!/root/
/root/*
!/root/.bashrc


!/var/
/var/*
!/var/spool/
/var/spool/*
!/var/spool/cron/
/var/spool/cron/*
!/var/spool/cron/crontabs/

