# from https://askubuntu.com/questions/916918/creating-a-git-repo-at-root-for-tracking-settings

# Blacklist all files, folders and subfolders in the same directory as the .gitignore file.
/*
# Do not blacklist the .gitignore file.
!.gitignore


# Whitelist the /usr/ folder (the git repo folder is whitelisted always)
!/etc/
# Blacklist all files in /etc/ folder.
/etc/*
# Whitelist specific file(s) in /etc/ folder.
!/etc/supervisor
/etc/supervisor/*
!/etc/supervisor/conf.d
!/etc/profile.d
/etc/profile.d/*
!/etc/profile.d/rebootScriptsAtLogin.sh


!/home/
/home/*
!/home/njoppi2/
/home/njoppi2/*
!/home/njoppi2/.vimrc
!/home/njoppi2/.bashrc

!home/njoppi2/.config/
home/njoppi2/.config/*
!home/njoppi2/.config/Code/
home/njoppi2/.config/Code/*
!home/njoppi2/.config/Code/User/
home/njoppi2/.config/Code/User/*
!home/njoppi2/.config/Code/User/settings.json
!home/njoppi2/.config/Code/User/keybindings.json

!/home/njoppi2/projetos/
/home/njoppi2/projetos/*
!/home/njoppi2/projetos/pessoal/
/home/njoppi2/projetos/pessoal/*
!/home/njoppi2/projetos/pessoal/etc/
/home/njoppi2/projetos/pessoal/etc/*
!/home/njoppi2/projetos/pessoal/etc/backup

!/home/njoppi2/celular/
/home/njoppi2/celular/*
!/home/njoppi2/celular/images/


!/usr/
/usr/*
!/usr/local/
/usr/local/*
!/usr/local/sbin/
/usr/local/sbin/uploadToNotion/*.txt

!/usr/local/bin/
/usr/local/bin/*
!/usr/local/bin/myScripts/
/usr/local/bin/myScripts/*.txt
/usr/local/bin/myScripts/makeComputerUnusable/*.txt
/usr/local/bin/myScripts/screenshotScripts/*.txt
/usr/local/bin/myScripts/smartBulbScripts/*.txt
/usr/local/bin/myScripts/webhooks/*.txt

!/usr/share
/usr/share/*
!/usr/share/X11
/usr/share/X11/*
!/usr/share/X11/xkb
/usr/share/X11/xkb/*
!/usr/share/X11/xkb/symbols/
/usr/share/X11/xkb/symbols/*
!/usr/share/X11/xkb/symbols/pt2



!/root/
/root/*
!/root/.bashrc


!/var/
/var/*
!/var/spool/
/var/spool/*
!/var/spool/cron/
/var/spool/cron/*
!/var/spool/cron/crontabs/

